@font-face {
	font-family:museo_sans;
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot);
	src:url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot?#iefix) format("embedded-opentype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff2) format("woff2"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff) format("woff"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.ttf) format("truetype"),
		url(//images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.svg#museo_sans300) format("svg");
	font-weight:300;
	font-style:normal
}

* {
	color: inherit;
	box-sizing: border-box;
	font-family: "museo_sans", sans-serif;
	font-style: normal;
	font-weight: inherit;
	text-decoration: none;
}

body {
	color: #7d7873;
	font-size: 1em;
	font-weight: 300;
}

body.dialogo-aberto {
	overflow: hidden;
}

a {
	color: #359c9c;
}

p + p {
	margin-top: 1em;
}

h1 {
    background: url('/imagens/selo-software-fora-de-serie.svg');
    height: 239px;
    margin: auto;
	text-indent: -9999px;
    width: 196px;
}

.menu, .rodape {
	padding-bottom: 1em;
	padding-top: 1em;
}

.menu {
	border-top: 2px solid #fdb933;
	overflow: auto;
}

.rodape {
	background-color: #ebebea;
	border-top: 1px solid #dadada;
}

.cabecalho {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.secao-link {
	display: inline-block;
	margin-left: 1em;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
}

.chamada {
	background-image: url('/imagens/cover.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #F7F4F0;
	font-size: 1.75em;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	position: relative;
	text-shadow: 2px 2px 1px #333333;
	text-transform: uppercase;
}

.texto-chamada {
	display: block;
	font-size: 0.66em;
}

.dia {
	margin-top: 1.5rem;
}

.horario {
	text-transform: lowercase;
}

.local {
	font-size: 0.5em;
	margin-top: 0.5em;
}

.inscricao {
	border: 2px solid white;
	border-radius: 5em;
	color: #F7F4F0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-transform: none;
	width: 10em;
}

.inscricao:hover {
	background-color: rgba(53,156,156, 0.8);
}

.licenca {
	bottom: 1em;
	color: #c1c1c1;
	font-size: 0.1em;
	font-weight: 300;
	position: absolute;
	right: 1em;
	text-transform: none;
}

.secao {
	padding-bottom: 2.5em;
	padding-top: 2.5em;
}

#agenda {
	background-color: #f8f8f8;
}

.palestra {
	align-items: baseline;
	display: flex;
}

.palestra > .horario-inicio, .palestra > .descricao {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.palestra > .horario-inicio {
	margin-right: 2em;
}

.palestra > .descricao {
	border-bottom: 1px solid #dadada;
	flex: 1;
	font-size: 1.25em;
}

.palestra:last-child > .descricao {
	border: none;
}

.nome {
	color: #524947;
}

.palestra .area {
	font-size: 0.75em;
}

.dialogo {
	background-color: #f8f8f8;
	box-shadow: 0 0px 0px 100vw rgba(0, 0, 0, 0.75);
	display: none;
	height: 100vh;
	left: 0;
	line-height: 1.25;
	max-height: 800px;
	max-width: 800px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100vw;
}

.dialogo:target {
	display: block;
	z-index: 1;
}

.dialogo .fechar {
	height: 24px;
	position: absolute;
	right: 2%;
	top: 1rem;
	width: 24px;
	z-index: 10;
}

.dialogo .fechar-icone {
	color: red;
}

.dialogo > .nome {
	color: #C83E27;
	font-size: 1.25em;
	margin-top: 1rem;
}

.dialogo .horario-inicio {
	display: block;
	padding-bottom: 1rem;
}

.palestrantes {
	border-top: 1px solid #dadada;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.palestrante {
	min-width: 50%;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.palestrante .foto {
	border-radius: 100%;
	margin-right: 0.5em;
}

.palestrante .dados {
	display: inline-block;
	vertical-align: top;
}

.titulo {
	color: #333333;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.descricao {
	line-height: 1.5;
}

.mapa {
	display: none;
	margin: 1em auto;
}

.mapa.visivel {
	display: block;
}

.mapa iframe {
	pointer-events: none;
}

.mapa.selecionado iframe {
	pointer-events: auto;
}

.elo7 {
	color: #fdb933;
}

@media (min-width: 600px) {
	.palestra .dialogo {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.empresa {
	display: block;
}

.ctos .foto {
	float: left;
}

.ctos .palestrante {
	width: 50%;
}

#dialogo-ctos .nome a {
	color: #524947;
}
